::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

/* 트랙 (배경) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* 스크롤바 핸들 (막대) */
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 10px;
}

/* 스크롤바 버튼 제거 */
/* .scroll::-webkit-scrollbar-button {
  display: none;
} */

/* 스크롤바 트랙 위쪽 여백 공간 주기 위해서 */
::-webkit-scrollbar-button:vertical:start:increment {
  display: block;
  height: 3px;
}

