.Header {
    height: 80px;
<<<<<<< HEAD
    min-width: 1900px;
=======
    width: 100%;
>>>>>>> 1357f5e96fd8387dcb9118f57a3a57e15370d734
    top: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #d4d4d4;
    display: flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    z-index: 999;
    background-size: cover;
}

.HeaderContainer {
    display: flex;
    width: 1280px;
    flex-direction: row;
    justify-content: flex-start;
}

.HeaderPofol {
    display: flex;
    font-size: 25px;
    font-weight: bold;
}

.TitlesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
<<<<<<< HEAD
    width: 400px;
=======
    width: auto;
>>>>>>> 1357f5e96fd8387dcb9118f57a3a57e15370d734
    margin-left: auto;
    gap: 20px;
}

.HeaderTitle {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    margin-left: 25px;
}

.HeaderTitle:hover {
    color: #3379b6;
    transform: scale(1.2, 1.2);
}