.Projects{
    height: 2000px;
    display: flex;
    align-items: center;
    background-color: white;
    flex-direction: column;
}

.ProjectsTitle{
    display: flex;
    color: white;
    font-size: 45px;
    text-shadow: 2px 2px 4px #044075;
    z-index: 50;
    margin-top: 3%;
}

.ProjectsContainer{
    margin-top: 3%;
    width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15%;
}

.ProjectContainer{
    display: flex;
    flex-direction: column;
    height : 550px;
}

.Project{
    position: relative;
    display: flex;
    height: 500px;
    border: 3px solid #4786bd;
    border-radius: 20px;
    margin-top: 4%;
}

.ProjectTitle{
    position: absolute;
    display: flex;
    font-size: 30px;
    color: white;
    top: -4.5%;
    left: 2%;
    background-color: #4786bd;
    border-radius: 30px;
    padding: 5px 10px;
}

.ProjectTitle:hover {
    transform: scale(1.05, 1.05);
}
