.Projects{
    height: 1000px;
    min-width: 1900px;
    display: flex;
    align-items: center;
    background-color: white;
    flex-direction: column;
}

.ProjectsTitle{
    display: flex;
    color: white;
    font-size: 45px;
    text-shadow: 2px 2px 4px #044075;
    z-index: 50;
    margin-top: 3%;
    font-weight: 500;
}

.ProjectsContainer{
    margin-top: 3%;
    width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15%;
}

.ProjectContainer{
    display: flex;
    flex-direction: column;
    height : 650px;
}

.Project{
    position: relative;
    display: flex;
    min-height: 700px;
    border: 3px solid #4786bd;
    border-radius: 20px;
    margin-top: 4%;
    justify-content: center;
}

.ProjectTitle{
    position: absolute;
    display: flex;
    font-size: 30px;
    color: white;
    top: -4%;
    left: 4%;
    background-color: #4786bd;
    border-radius: 20px;
    padding: 5px 10px;
    font-weight: 500;
    z-index: 50;
}

.ProjectTitle:hover {
    transform: scale(1.05, 1.05);
}

.ProjectClick{
    width: 35px;
    height: 35px;
    z-index: 999;
    position: relative;
}

.ProjectDetail{
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 450px;
    margin-top: 3%;
}

.DetailTitle {
    display: flex;
    font-size: 18px;
    margin: 0;
    list-style-type: disc;
    margin-top: 3%;
    font-weight: 500;
}

.ToolsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.Tools{
    margin-bottom: 1%;
    margin-right: 1%;
    border-radius: 5px;
}

.DetailRow{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.GitHubwrapper{
    text-decoration: none;
    color: black;
}

.DetailGitHub{
    margin: 0;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}

.DetailGitHub:hover{
    color: #4786bd;
}

.DetailText{
    font-size: 20px;
    font-weight: 500;
}
