@import "tailwindcss";
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "NexonLv1Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "NexonLv1Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "NexonLv1Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@theme {
  --font-pretendard: "Pretendard";
  --font-nanumsquare: "NanumSquare", sans-serif;
  --font-nexon: "NexonLv1Gothic";
  /* --color-landing: #1f2121; */
  --color-main-bg: #fffffa;

  /* Landing Color Scale */
  --color-landing-100: #e4e5e5;
  --color-landing-300: #a2a3a3;
  --color-landing-500: #646666;
  --color-landing-700: #3a3c3c;
  --color-landing-900: #1f2121;

  /* Gray Scale */
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #eeeeee;
  --color-gray-300: #e0e0e0;
  --color-gray-400: #bdbdbd;
  --color-gray-500: #9e9e9e;
  --color-gray-600: #757575;
  --color-gray-700: #616161;
  --color-gray-800: #424242;
  --color-gray-900: #212121;

  /* Blue Gray Scale */
  --color-blue-gray-50: #eceff1;
  --color-blue-gray-100: #cfd8dc;
  --color-blue-gray-200: #b0bec5;
  --color-blue-gray-300: #90a4ae;
  --color-blue-gray-400: #78909c;
  --color-blue-gray-500: #607d8b;
  --color-blue-gray-600: #546e7a;
  --color-blue-gray-700: #455a64;
  --color-blue-gray-800: #37474f;
  --color-blue-gray-900: #263238;

  /* 퍼플렉시티 민트 */
  --color-perplexity: #31b8c6;
  /* 요소 별 색 */
  --color-font-color: var(--color-landing-700);
  --color-font-hover: var(--color-perplexity);

  /* hover:깜빡이는 효과 */
  --animate-pulse-color: pulse-color 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse-color {
    0%,
    100% {
      color: var(--color-font);
    }
    65% {
      color: var(--color-font-hover);
    }
  }

  /* 타이핑 효과 */
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: var(--color-font-hover); /* 커서 색상 */
    }
  }
}

.typewriter-cursor {
  border-right: 0.1em solid var(--color-font-hover);
  animation: blink-caret 0.75s step-end infinite;
  padding-right: 2px;
}
